body{
    font-family: var(--main-font);
}

/*start header section*/
.header{
    padding: 57px 0;
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.header .bar{
    display: none;
}
.list a{
    color: #0D0E43;
}
.header .active{
    color: var(--primary-color);
}
.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
}
.search input, .search button{
    border: none;
    outline: none;
}
.search input{
    width: 250px;
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.search button{
    background-color: var(--primary-color);
    padding: 8px 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1200px){
    .list, .header .search{
        display: none;
    }
    .header .bar{
        display: block;
    }
}
/*end header section*/

/* start hero section*/
.hero{
    background-color: #F2F0FF;
    padding: 50px 0;
    margin-top: 50px;
}
.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 60%;
}
.hero-content .hero-lamp{
    position: relative;
    bottom: 90px;
    width: 25%;
    left: -180px;
}
@media screen and (max-width: 992px){
    .hero-content .hero-lamp{
        visibility: hidden;
    }
}
.hero-img{
    flex: 1 0 30%;
}
.hero-img img{
    width: 100%;
}
.text-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-content p:last-of-type{
    color: #777;
    width: 80%;
}
.text-content a{
    align-self: flex-start;
}
/* end hero section*/

/*start featured section*/
.featured-product{
    padding: 50px 0;
}
.featured-product h2{
    margin-bottom: 30px;
    color: #1A0B5B;
}
.product{
    position: relative;
}
.badge-sale{
    position: absolute;
    top: -4px;
    left: -10px;
}
.badge-sale img{
    width: 100px;
}
.featured-product .row{
    justify-content: flex-start;
    gap: 15px;
}
.featured-product .product{
    /* flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 0; */
    flex: 1 0 200px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #00000040;
}
.color{
    width: 20px;
    height: 6px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.color-one{
    background-color: #05E6B7;
}
.color-two{
    background-color: #F701A8;
}
.color-three{
    background-color: #00009D;
    transition: all 0.6s;
}
.product .img{
    background-color: #F6F7FB;
    padding: 30px;
    /* height: 250px; */
}
.product .img img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.product-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.product-info span{
    font-size: 14px;
    transition: all 1s ease;
}
.product-details{
    transition: all 0.4s ease;
}
.product-details h3{
    font-size: 16px;
    transition: all 0.6s;
}
.product:hover .product-info span{
    color: #fff;
}
.product:hover .product-details{
    background-color: #2F1AC4;
    border-radius: 3px;
}
.product:hover .product-details h3{
    color: #fff;
}
.product:hover .color-three{
    background-color: #FFEAC1;
}
/*end featured section*/

/*start leatest products section */
.leatest-product{
    padding: 50px 0;
}
.leatest-product h2{
    color: #1A0B5B;
}
.leatest-product ul{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.leatest-product ul li a{
    text-transform: capitalize;
    font-size: 18px;
    color: #1A0B5B;
}
.leatest-product ul li a.active{
    color: #FB2E86;
    text-decoration: underline;
}
.leatest-product .row{
    justify-content: flex-start;
    gap: 30px;
}
.leatest-product .l-product{
    flex: 1 0 300px;
}
.l-product .image{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.l-product .image img{
        width: 250px;
    height: 250px;
    object-fit: contain;
}
.leatest-product .product-desc{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.leatest-product .product-desc .part-one{
    color: #1A0B5B;
    font-weight: 600;
}
.leatest-product .product-desc .part-two{
    margin-right: 15px;
}
.leatest-product .product-desc .part-two span:first-child{
    color: #1A0B5B;
    font-size: 17px;
    font-weight: 600;
}
.leatest-product .product-desc .part-two span:last-child{
    color: #FB2E86;
    margin-left: 10px;
    font-size: 14px;
    text-decoration: line-through;
}
.l-product2{
    position: relative;
}
.l-product{
    position: relative;
}
.badge-sale2{
    position: absolute;
    left: -10px;
    top: -4px;
}
.badge-sale2 img{
    width: 100px;
}
.icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 70px;
    gap: 20px;
    left: 20px;
    display: none;
    transition: all 0.5s ease;
}
.icons i{
    color: #1A0B5B;
}
.leatest-product .l-product:hover .image{
    background-color: #fff;
    cursor: pointer;
}
.leatest-product .l-product:hover .icons{
    display: flex;
}
/*end leatest products section */

/*start shopex offer section */
.shopex-offer{
    padding: 50px 0;
}
.shopex-offer h2{
    margin-bottom: 90px;
    color: #1A0B5B;
}
.shopex-offer .row{
    gap: 20px;
    align-items: flex-start;
}
.shopex-offer .offer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 90px 20px 45px 20px;
     box-shadow: 0px 0px 20px 5px #0000000c;
     flex: 1 0 250px;
}
.offer1 .first{
    width: 65px; 
    height: 69px;
}
.offer1 .offer1-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.offer1 .offer1-desc h3{
    color: #1A0B5B;
}
.offer1 .offer1-desc p{
    /* width: 50%; */
    color: #1a0b5b59;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6;
}
/* .shopex-offer .offer1 .offer1-desc p{
    color: #1a0b5b59;
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    text-align: center;
} */
/*end shopex offer section */