body{
    font-family: var(--main-font);
}

/*start header section*/
.header{
    padding: 57px 0;
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.header .bar{
    display: none;
}
.list a{
    color: #0D0E43;
}
.header .active{
    color: var(--primary-color);
}
.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
}
.search input, .search button{
    border: none;
    outline: none;
}
.search input{
    width: 250px;
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.search button{
    background-color: var(--primary-color);
    padding: 8px 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1200px){
    .list, .header .search{
        display: none;
    }
    .header .bar{
        display: block;
    }
}
/*end header section*/

/* start hero section*/
.hero{
    background-color: #F2F0FF;
    padding: 50px 0;
    margin-top: 50px;
}
.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 60%;
}
.hero-content .hero-lamp{
    position: relative;
    bottom: 90px;
    width: 25%;
    left: -180px;
}
@media screen and (max-width: 992px){
    .hero-content .hero-lamp{
        visibility: hidden;
    }
}
.hero-img{
    flex: 1 0 30%;
}
.hero-img img{
    width: 100%;
}
.text-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-content p:last-of-type{
    color: #777;
    width: 80%;
}
.text-content a{
    align-self: flex-start;
}
/* end hero section*/